* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 16pt;
}

.navbar {
    width: 100%;
    display: flex;
    border: 1px solid red;
}

.intro {
    width: 100%;
    display: flex;
    border: 1px solid blue;
}

.article {
    width: 100%;
    display: flex;
    border: 1px solid green;
}

.contact {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 1px solid purple;
    color: white;
}